body{
  background-color: #c2c0db;
}

.input {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.input h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
}

.input label{
  display: flex;
  justify-content: space-between;
}

.input button {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.output {
  display: flex;
  justify-content: space-around;
}

.output p{
  display: flex;
  justify-content: flex-end;
}